<a href="https://colab.research.google.com/github/Kiarro21/Kiarro21/blob/main/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import sqlite3

conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()

createTB1 = """CREATE TABLE Students
            (number int NOT NULL,
             fio text NOT NULL,
             phone_number text,
             PRIMARY KEY (number))"""

createTB2 = """CREATE TABLE Teachers
            (number int NOT NULL,
             fio text NOT NULL,
             phone_number text NOT NULL,
             sub_num int,
             PRIMARY KEY (number)),
             FOREING KEY (sub_num) REFERENCES Subjects(sub_num)"""

createTB3 = """CREATE TABLE Subjects
            (sub_num int ,
             fio text,
             phone_number text,
             PRIMARY KEY (number))"""

addData = """INSERT INTO Students
          VALUES ('1', 'Аракелян', '+79182269363')"""


cursor.execute(addData)
conn.commit()

DatabaseError: ignored