<a href="https://colab.research.google.com/github/Kiarro21/Kiarro21/blob/main/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()

createTB1 = """CREATE TABLE S
            (s text NOT NULL,
             sname text NOT NULL,
             status text,
             city text,
             PRIMARY KEY (s))"""

createTB2 = """CREATE TABLE P
            (p text NOT NULL,
             pname text NOT NULL,
             weight int,
             color text,
             city text,
             PRIMARY KEY (p)"""

createTB3 = """CREATE TABLE SP
            (n int NOT NULL
             s text NOT NULL,
             p text NOT NULL,
             qty int,
             PRIMARY KEY (n)),
             FOREIGN KEY (s) REFERENCES S(s)),
             FOREIGN KEY (p) REFERENCES P(p))""
 
addData1 = """INSERT INTO S
          VALUES 
          ('S1', 'Аракелян', 'Активен', 'Майкоп'),
          ('S2', 'Тлюстангелов', 'Не активен', 'Краснодар'),
          ('S3', 'Архипов', 'Активен', 'Нальчик')"""

addData2 = """INSERT INTO P
          VALUES 
          ('P1', '', '', 1, 'Красный', 'Сочи'),
          ('P2', '', '', 1, 'Синий', 'Армавир'),
          ('P3', '', '', 1, 'Жёлтый', 'Курганинск')"""

addData3 = """INSERT INTO SP
          VALUES 
          ('S2', ''),
          ('S1', ''),
          ('S3', '')"""
          
cursor.execute(addData1)
cursor.execute(addData2)
cursor.execute(addData3)

conn.commit()

In [ ]:
selectTB1 = """SELECT *
            FROM Students
            """

selectTB2 = """SELECT *
            FROM Teachers
            """
selectTB3 = """SELECT *
            FROM Subjects
            """

cursor.execute(selectTB1)
rows = cursor.fetchall()
 
for row in rows:
    print (row)
print ('\n')

cursor.execute(selectTB2)
rows = cursor.fetchall()
 
for row in rows:
    print (row)
print ('\n')


cursor.execute(selectTB3)
rows = cursor.fetchall()
 
for row in rows:
    print (row)
print ('\n')

(1, 'Аракелян', '+79182269363')
(2, 'Тлюстангелов', '+791820489120')
(3, 'Архипов', '+58673872321')


(1, 'Джаудат', '+67843673973', 1)
(2, 'Сечина', '+63420386039', 3)
(3, 'Костин', '+75485754459', 2)


(1, 'Алгебра')
(2, 'Философия')
(3, 'Физика')