<a href="https://colab.research.google.com/github/Kiarro21/Kiarro21/blob/main/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import sqlite3

conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()

createTB1 = """CREATE TABLE Students
            (number int NOT NULL,
             fio text NOT NULL,
             phone_number text,
             PRIMARY KEY (number))"""

createTB2 = """CREATE TABLE Teachers
            (number int NOT NULL,
             fio text NOT NULL,
             phone_number text,
             sub_num int,
             PRIMARY KEY (number),
             FOREIGN KEY (sub_num) REFERENCES Subjects(sub_num))"""

createTB3 = """CREATE TABLE Subjects
            (sub_num int,
             name text,
             PRIMARY KEY (sub_num))"""
 
addData1 = """INSERT INTO Students
          VALUES 
          ('1', 'Аракелян', '+79182269363'),
          ('2', 'Тлюстангелов', '+791820489120'),
          ('3', 'Архипов', '+58673872321')"""

addData2 = """INSERT INTO Teachers
          VALUES 
          ('1', 'Джаудат', '+67843673973', 1),
          ('2', 'Сечина', '+63420386039', 3),
          ('3', 'Костин', '+75485754459', 2)"""

addData3 = """INSERT INTO Subjects
          VALUES 
          ('1', 'Алгебра'),
          ('2', 'Философия'),
          ('3', 'Физика')"""
          
cursor.execute(addData1)
cursor.execute(addData2)
cursor.execute(addData3)

conn.commit()

In [26]:
selectTB1 = """SELECT *
            FROM Students
            """

selectTB2 = """SELECT *
            FROM Teachers
            """
selectTB3 = """SELECT *
            FROM Subjects
            """

cursor.execute(selectTB1)
rows = cursor.fetchall()
 
for row in rows:
    print (row)
print ('\n')

cursor.execute(selectTB2)
rows = cursor.fetchall()
 
for row in rows:
    print (row)
print ('\n')


cursor.execute(selectTB3)
rows = cursor.fetchall()
 
for row in rows:
    print (row)
print ('\n')

(1, 'Аракелян', '+79182269363')
(2, 'Тлюстангелов', '+791820489120')
(3, 'Архипов', '+58673872321')


(1, 'Джаудат', '+67843673973', 1)
(2, 'Сечина', '+63420386039', 3)
(3, 'Костин', '+75485754459', 2)


(1, 'Алгебра')
(2, 'Философия')
(3, 'Физика')